[2021-07-26 17:09] #550 closed

[2021-07-26 17:12] shubha-rajan commented on #565
Thanks for opening this issue @unleftie . We've been noticing this flakiness in our IAM authentication integration tests over the past few week as well. We'll spend some time this week investigating and keep you updated on this issue.

[2021-07-26 17:17] shubha-rajan commented on #528
I'm going to close this issue for now. We just merged #561 which greatly improves the application's ability to recover from errors when using TCP sockets, and also recommend using Unix sockets on Cloud Run and Functions if you can.

[2021-07-26 17:17] #528 closed

[2021-07-26 19:24] shubha-rajan commented on #472
Our next release is scheduled for Tuesday, Aug 3rd!

[2021-07-26 20:04] michael-hua-zoominfo commented on #472
Excellent. Thanks so much for all the effort.

[2021-07-27 18:53] shubha-rajan commented on #565
I was able to get this error to appear 6 times while running a sample application overnight.  And it does seem like the error occurs during authentication. One possibility is that the auth token being used to authenticate is invalid or null due to a race condition somewhere. I'll investigate further and let you know what I find.

[2021-07-28 18:44] shubha-rajan commented on #565
UPDATE 2: We have identified the root cause of this issue.

The problem isn't with the connector or the Postgres instance, but with the Oauth2 tokens being used to authenticate. Sometimes, when requesting a token, we get a token that's padded to 1024 characters, like this:
![image (8)](https://user-images.githubusercontent.com/19631367/127374557-6fde0360-c853-4f02-9da3-7752a6fcaab0.png)
When that

[2021-07-28 21:58] shubha-rajan commented on #565
Note: Leaving this issue open until the underlying issue is fixed and we can remove the temporary patch in #138

[2021-08-03 21:57] shubha-rajan commented on #472
Just released v1.3.2. Closing this issue

[2021-08-03 21:57] #472 closed

[2021-08-04 17:38] #565 closed

[2021-09-15 14:03] yorkyu-mercari commented on #66
Simplest workaround should be create a Factory class and use it to create HttpRequestInitializer

[code]

I am using scala so the test code will be like
[code]

[2021-09-15 22:03] shubha-rajan commented on #66
https://github.com/googleapis/google-auth-library-java/pull/658 exposed a getter that returns a`Credentials` object. Using that getter along with the extended factory class above should allow you to use external GoogleCredentials in your application.

[2021-09-25 11:10] stefda opened #612 "Cannot connect to SQL instance from Intellij on WSL2"
## Bug Description

I am trying to connect from Intellij to my Cloud SQL Postgres instance via Cloud SQL Proxy. When I set up the connection as instructed and run the proxy, I get the following error on connection test:

[code]

## How to reproduce

1. download and install `cloud_sql_proxy` as instructed [here](https://cloud.google.com/sql/docs/mysql/sql-proxy#linux-64-bit)
2. download postgres-so

[2021-09-25 18:17] stefda commented on #612
Doing a bit more digging, I suspect this is caused by the fact a Windows Intellij instance cannot establish a connection to db via socket. I'll leave the issue open in case I'm wrong, but I'm afraid this is a dead end.

[2021-09-27 16:54] enocom commented on #612
Caveat: I have only done this with IntelliJ on Linux, but it has worked.

In theory, you can connect to a Cloud SQL instance using either the proxy OR the socket factory. In my experience, the socket factory works well, and you can avoid using the Unix socket.

Seems like you have a lot of the steps right already, but for reference here are some nice docs:

https://www.jetbrains.com/help/datagrip/

[2021-09-27 16:55] enocom commented on #612
Will you report back and let us know if the instructions above worked for you?

[2021-09-28 01:12] stefda commented on #612
Ah fantastic, couldn't find the docs (didn't think of looking at DataGrip!) but will give it a try soon and report back.

[2021-09-28 09:04] stefda commented on #612
I can confirm that following the jetbrains [docs for setting up Cloud SQL connection](https://www.jetbrains.com/help/datagrip/connect-to-google-cloud-sql-instances.html#configuring-connections-with-the-cloud-sql-connector-for-java) worked as expected. I can now connect to my SQL instance using both TCP and sockets from Intellij.

I believe that the important step that I missed was going into Advan

[2021-09-28 09:04] #612 closed

[2021-09-28 15:15] enocom commented on #612
I'll add a link in the README for future readers who are trying to do the same. Glad the instructions worked.

[2021-10-04 20:03] kurtisvg opened #616 "Add JDK 17 tests"
JDK 17 is an LTS version, we should add tests

[2021-10-05 21:22] enocom opened #619 "update_versions.sh script uses BSD-only sed command"
BSD only is:

[code]

Linux-friendly is:

[code]

[2021-10-12 20:58] enocom opened #630 "Use the new Connect API"
See https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/883 which uses the new [Connect API](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/connect/generateEphemeralCert).

[2021-10-13 12:43] carlpett opened #631 "javax.net.ssl.SSLHandshakeException: extension (5) should not be presented in certificate_request"
## Bug Description

Trying to connect to a private instance, I'm getting a certificate validation exception.

## Example code (or command)

I'm loading the socket factory into [Flyway](https://github.com/flyway/flyway), with this connection url:

[code]

## Stacktrace
[code]

## How to reproduce

  1. Try to connect to private instance

## Environment

1. OS type and version: GCE default Debian 10

[2021-10-13 16:50] enocom commented on #631
On a VM with Debian 10, openjdk 11.0.12 2021-07-20, and Socket Factory version 1.3.4, I was able to connect to a private IP instance and query the time without any errors.

Searching for this error, I found someone suggesting that this is a TLS issue.

Would you mind running with `-Djdk.tls.client.protocols=TLSv1.2` to see if that resolves the issue and reporting back?

https://stackoverflow.com/a

[2021-10-13 17:53] carlpett commented on #631
Downloaded the latest openjdk11 (`OpenJDK 64-Bit Server VM Temurin-11.0.12+7 (build 11.0.12+7, mixed mode)`), and yes, there it works. Thanks! I'll see how I can best swap out the flyway-bundled one, but that's quite outside the scope of this issue :)
Not sure if you want to keep this open to track compatibility doc-wise, otherwise, feel free to close, and thanks for the help!

[2021-10-13 18:46] enocom commented on #631
Thanks, @carlpett. I'm going to close this. If there's something we can do better with the socket factory, feel free to re-open.

[2021-10-13 18:46] #631 closed, assigned to enocom

[2021-10-14 13:44] jmcomets opened #632 "Undeclared dependency to google-http-client-gson"
The upgrade from `1.0.11` to `1.3.4` is not working for us. We're running into the following error:

[code]

This seems to be due to an undeclared dependency to `google-http-client-gson`, which was introduced in [this commit](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/commit/2de5b9e3e3c4b31482462be28926d787c4a6cff8).

I'm not sure if there's anything else that depends on

[2021-10-14 14:10] jmcomets commented on #632
Workaround:

[code]

[2021-10-19 15:50] #630 closed, assigned to shubha-rajan, kurtisvg

[2021-10-19 22:38] #616 closed

[2021-10-26 22:02] enocom opened #641 "Add support for ReadTime in Ephemeral Cert request"
See https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/977 for context.

[2021-10-30 05:04] enocom commented on #632
Sorry for the slow response here. I have a fix that cleans up the dependency graph generally in addition to fixing this problem. Just working through some last minor details.

[2021-11-01 22:33] #632 closed

[2021-11-02 15:14] #619 closed

[2021-11-08 18:13] enocom opened #656 "Ensure all required dependencies are declared"
In the past, we've had undeclared deps, unused declared deps, etc.

Let's add the [Maven Dependency Plugin](http://maven.apache.org/plugins/maven-dependency-plugin/) as part of the build to ensure we check for such errors as part of a PR.

See:
- https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/issues/632
- https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/is

[2021-11-22 16:09] choss opened #660 "SQL Driver should accept a service account (file) as property and not only as environment variable"
## Feature Description
We encountered a severe problem with our Java application built on the GCP java client libraries, that connects from on-prem to several cloud SQL postgres instances.

We have the technical requirement that we need to connect to several Cloud SQL instances with different service accounts within one instance of our JVM application. This is impossible right now because:

* Serv

[2021-11-22 21:48] kurtisvg commented on #660
Hi @choss - Thanks for submitting a PR. Right now a lot of our team is OOO because of the upcoming US holiday, but next week we'll take a look and follow up with you.

[2021-11-29 22:41] kurtisvg commented on #660
Can you explain a little more about "technical requirement that we need to connect to several Cloud SQL instances with different service accounts within one instance of our JVM application"? This seems like an anti-pattern considering the IAM identity is supposed to represent the application, and fragmenting permissions for a singular entity across multiple identities only makes it harder to audit

[2021-11-30 11:14] stefda opened #664 "Failed to create certificate on Cloud Run"
## Bug Description

Our Cloud Run instance with Spring Boot application intermittently fails to connect to the Cloud SQL instance due to failing "to create ephemeral certificate for the Cloud SQL instance".

We are running a Spring Boot application with Hikari Pool. The exception below breaks the incoming request, resulting in 500 server error. The server is unable to recover from the issue and th

[2021-11-30 16:28] kurtisvg commented on #664
Can you share more information on what your connection pool configuration is?

Additionally, do you have any steps to reproduce?

[2021-11-30 16:54] kurtisvg commented on #664
It looks like you aren't running the latest release - can you bump to 1.4.0 and see if the issue still persists?

[2021-11-30 18:18] stefda commented on #664
Ah interesting, I missed the fix in 1.4.0! I'll give it a try and let you know if the issue comes back.

Otherwise we are setup with the default Hikari configuration:
[code]

If any of these stand out and you can point at an issue with our setup I will be very grateful.

In the meanwhile, I have enabled Hikari debug logging and will get back with more relevant information when I collect some. This

[2021-11-30 18:39] kurtisvg commented on #664
50 is probably way more max connections than you need on Cloud Run, the rough rule of thumb is 2*cores (see Hikari's article [About Pool Sizing](https://github.com/brettwooldridge/HikariCP/wiki/About-Pool-Sizing#the-formula))

Everything else looks pretty reasonable, but you may benefit from lowering maxLifetime and minimumIdle as well.

[2021-12-02 17:41] kurtisvg commented on #552
This is going to be addressed in some cleanup of our samples.

[2021-12-02 17:43] kurtisvg commented on #502
Marking this as closed. While the top level error (failed to update metadata) isn't helpful, the cause of that error is also included and should give a better description as to why the refresh failed.

[2021-12-02 17:43] #502 closed

[2021-12-02 17:43] #484 closed

[2021-12-02 17:47] kurtisvg commented on #66
Going to mark this as closed. I think this current journey is already possible with the current interface.

[2021-12-02 17:47] #66 closed

[2021-12-08 22:44] kurtisvg commented on #124
looks like mysql 8.0 added a different mechanism for doing this: https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-usagenotes-j2ee-concepts-managing-load-balanced-connections.html

[2021-12-09 09:11] stefda commented on #664
It's been more than a week since I updated the factory to latest version and the issue has not reoccurred. I'm cautiously optimistic and will post one final update after a longer lull period after the weekend. Thank you for you help so far!

[2021-12-09 15:25] kurtisvg commented on #664
@stefda Sounds good! I'm going to go ahead and close this, but if the issue returns feel free to drop us a line and we'll reopen

[2021-12-09 15:25] #664 closed

[2021-12-14 14:10] stefda commented on #664
Nope, all good. Issue hasn't reoccurred! Thank you.

[2021-12-14 20:05] #656 closed

[2021-12-29 13:46] mmouly opened #685 "Unable to connect from IBM WAS liberty using Postgresql connect"
I'm currently unable to connect to a Google Cloud SQL postgresql database from IBM WAS liberty using the last postgres-socket-factory-1.4.1-jar-with-driver-and-dependencies.jar file.
Following https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-configuring-relational-database-connectivity-in

Here is my liberty datasource :

       <library id="postgresql-library" filesetRef="postgresql-fil

[2021-12-29 16:33] mmouly commented on #685
closing as I was able to connect by just removing properties and reformating URL as :

`<properties.postgresql URL="jdbc:postgresql://<HOST-IP>/postgres?cloudSqlInstance=oceanic-guard-191815:europe-west1:mydb;socketFactory=com.google.cloud.sql.postgres.SocketFactory" user="postgres" password="postgres"/>`

[2021-12-29 16:33] #685 closed

[2021-12-29 17:28] mpeddada1 opened #686 "bug(r2dbc): enable_iam_auth throws java.lang.ClassCastException"
Due to a [limitation in R2DBC](https://github.com/r2dbc/r2dbc-spi/issues/206), extra options specified through the r2dbc url are automatically typed as `String`.  Therefore, setting the enable_iam_auth option in the r2dbc connection url (`r2dbc:gcp:postgres://{INSTANCE_CONNECTION_NAME}/{DATABASE_NAME}?ENABLE_IAM_AUTH=true`) results in the following error :

[code]
Perhaps doing something similar t

[2021-12-29 20:58] kurtisvg commented on #686
Thanks for taking the time to file a bug. I added a regression test in fix in #688.

[2022-01-04 20:38] enocom opened #690 "Update maven-dependency-plugin when next version is available"
The current latest version (3.2.0) has a bug. When the newer version comes out, let's unpin from the last working version and update.

For details, see https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/pull/689.

[2022-01-04 21:58] #686 closed

[2022-01-04 22:01] mpeddada1 commented on #686
Thank you for the fix!

[2022-01-06 20:44] #690 closed

[2022-01-17 18:54] maguro commented on #502
jfyi, this is happening to us and is continually generating incident reports. :(

[2022-01-17 19:15] maguro commented on #267
Wouldn't it make sense to not log the error if it's expected to be handled at a higher level?  That higher level retry code would have the responsibility of logging an error if it could not recover after retrying, etc.?

[2022-01-19 16:38] enocom commented on #502
@maguro Are you using the latest version? https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/pull/561 should have limited the refresh problem in Cloud Run (for the most part).

[2022-01-19 16:47] enocom commented on #267
Without having spent much time in this code, I think we do such retries in place now and try to surface errors if a retry fails. But either way (as I mentioned on the other issue), I'd hope that https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/pull/561 makes these background refresh problems largely go away. If you're seeing problems on the latest version, let's open an issue a

[2022-01-29 20:53] maguro commented on #502
@enocom We're using v1.4.2 and are still having these "spurious" error messages.

[2022-01-31 17:24] enocom commented on #502
@maguro Mind opening a new issue, describing your setup and more details of what you're seeing?

[2022-01-31 20:49] satishrao84 opened #725 "Wrong version listed in README"
## Question
I am trying to connect to a Postgres Cloud SQL instance using JDBC SocketFactory per the docementation here : https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/docs/jdbc-postgres.md

    HikariDataSource pool = null;
    HikariConfig config = new HikariConfig();

    //String jdbcURL = String.format("jdbc:postgresql:///%s", DBNAME);
    String jdbcURL = Str

[2022-01-31 21:22] kurtisvg commented on #725
You should use `1.4.2`. `1.4.2` is the "development" version of the artifact, and this version bump in that README is a typo.

[2022-01-31 21:33] enocom commented on #725
The READMEs are fixed here: https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/pull/726.

[2022-01-31 21:34] enocom commented on #725
@satishrao84 How are you launching the proxy?

[2022-01-31 21:44] enocom commented on #725
Also, it looks like your user name is wrong. The error has ` XXXXXXXXXX-compute@developer.gserviceaccount.com`. It should be `XXXXXXXXXX-compute@developer`.

[2022-01-31 21:53] kurtisvg commented on #725
Fixed in #726.

[2022-01-31 21:53] #725 closed

[2022-02-01 15:23] satishrao84 opened #727 "Authentication failure for Iam Authentication on Postgres Cloud SQL through jdbc Hikari"
## Question
I am trying to connect to a Postgres Cloud SQL instance using JDBC SocketFactory per the documentation here : https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/docs/jdbc-postgres.md

    HikariDataSource pool = null;
    HikariConfig config = new HikariConfig();

    //String jdbcURL = String.format("jdbc:postgresql:///%s", DBNAME);
    String jdbcURL = Str

[2022-02-09 14:32] nanoflow opened #741 "com.google.cloud.sql:postgres-socket-factory error in version 1.4.2 and version 1.4.3"
Hi, me and some of my team members have problem with the
com.google.cloud.sql:postgres-socket-factory  throwing the following error when connection to a google cloud sql database is established:
[code]
Current work around: downgrade this library to version 1.4.1 in the following steps:
- in 'Edit Driver Settings' / 'Libraries'  click on Download/Update
- select Version 1.2.0 (or something very old

[2022-02-09 14:35] nanoflow commented on #741
Problem occurs in DBeaver Community edition version Version 21.3.4.202202051448 on Ubuntu and MacOs

[2022-02-09 17:18] kurtisvg commented on #741
Hey @nanoflow,

Any chance you can provide some more information:

- Can you provide the full stack trace?
- Can you provide more information on your enviroment? JDK version, OS, etc?
- Can you included steps to reproduce the problem?

[2022-02-09 21:59] satishrao84 commented on #727
Still doesn't work.Am I missing something here? Just supplying the service account name shouldn't be sufficient to access the DB!!? What am I missing here? An how does the cloud auth proxy binary service come into play here? I followed all the GitHub/Google docs, but no luck in figuring this out.

Getting below error again:

[code]

[2022-02-09 22:05] enocom commented on #727
A few things to try:

1. Check your audit logs https://cloud.google.com/sql/docs/postgres/add-manage-iam-users#viewing-login-audit-logs
2. Have you added Cloud SQL Client and Cloud SQL Instance User to your associated service account?
3. Is there a user in the database that matches the SA?

[2022-02-09 22:06] kurtisvg commented on #727
Hi @satishrao84,

You can use Automatic IAM DB authentication with either the Cloud SQL proxy or this library. You don't need to use both.

Please make sure of the following:
- You're running the latest version of the java connector
- The service account you are using for the java connector is the same one you are trying to log in with

There's also an example in our tests [here](https://github.co

[2022-02-09 23:11] satishrao84 commented on #727
for 2 and 3 - yes.
For 1 - how do I enable audit logs on my cloud sql?

[2022-02-09 23:14] satishrao84 commented on #727
Yes and Yes

[2022-02-10 08:08] nanoflow commented on #741
this is the stack trace

Session Data:

Steps to reproduce:
install a fresh DBeaver, connect to a Google Cloud instance

[2022-02-10 15:19] enocom commented on #727
As @kurtisvg pointed out, we have [an example](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/jdbc/postgres/src/test/java/com/google/cloud/sql/postgres/JdbcPostgresIamAuthIntegrationTests.java#L74-L106) in our tests. I would start from scratch and try following that. Ultimately, you've missed a configuration detail somewhere and the only way to verify that would be

[2022-02-10 15:19] #727 closed

[2022-02-10 16:08] kurtisvg commented on #727
@satishrao84 [Here is the Cloud SQL page on audit logging](https://cloud.google.com/sql/docs/postgres/audit-logging).

Unfortunately, it's a bit hard to debug based on the error (and for security reasons, the error has to be pretty unhelpful). There's some additional guidance here in the docs: https://cloud.google.com/sql/docs/postgres/add-manage-iam-users#troubleshooting-a-login-failure

I think

[2022-02-10 16:36] kurtisvg commented on #741
Hi @nanoflow - it doesn't look like that's the same error you posted above (and is still only a partial stack trace). This error seems to indiciate that you don't have the socketfactory installed.

[2022-02-10 17:08] kurtisvg commented on #741
I've installed DBreaver and tried to connect and I'll I'm getting is the following:
[code]
The socket factory works fine on my machine (but DBeaver doesn't) so it seems like the problem is in DBeaver. I've opened a [bug here](https://github.com/dbeaver/dbeaver/issues/15459), feel free to chime in.

[2022-02-11 15:50] kurtisvg commented on #741
Hey @nanoflow - I was able to fix this by following the advice here: https://github.com/dbeaver/dbeaver/issues/15459#issuecomment-1036261495

Adding the extra artifact caused everything to connect successfully.

[2022-02-11 15:50] #741 closed

[2022-02-12 07:00] peternjeru opened #749 "Unable to connect to PostgreSQL on Cloud SQL using Cloud SQL R2DBC configuration."
## Bug Description

I am currently trying to set up an r2dbc connection to Cloud SQL from a Google App Engine Spring Boot app using the guide [here](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/docs/r2dbc-postgres.md). After setting up as specified and deploying to App Engine, App Engine throws an error `Caused by: java.lang.IllegalArgumentException: [%s] Cloud SQ

[2022-02-12 12:25] kurtisvg commented on #749
That error is being generated [here](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/d316db158381dcffe1988fbb3cf5f2362c6866a3/core/src/main/java/com/google/cloud/sql/core/CloudSqlInstance.java#L138), and essentially means what is says - the "host" part doesn't seem to be in a format that matches the regex. Can you try debugging and make sure "url" looks like what you hope

[2022-02-12 16:25] peternjeru commented on #749
@kurtisvg I thought so too, but I actually tried to print out the hostname to see whether the right value was being picked. See screenshot [uploaded here](https://drive.google.com/file/d/11klnRA6LQyZ44I0J0QrOvjC0HhKEZL-l/view?usp=sharing).

[2022-02-12 16:51] peternjeru commented on #749
Update:

After printing out my URL, I noticed that the password had a `#` special character right next to the `@` preceding the project ID. I changed my password to remove that, and it worked :D

Hope that helps.

[2022-02-14 19:02] #749 closed

[2022-02-15 20:56] kurtisvg commented on #727
@satishrao84 Glad you figured it out - thanks for following up!

[2022-02-16 02:06] satishrao84 commented on #727
All, apologies for asking on this ticket, but is it possible to use this java connector for Postgres IAM authentication in a spring data JPA application? How would we use Hikari in such an application where datasource is taken care by Spring

[2022-03-03 19:57] ManuelG28 opened #768 "Unable to connect to a MySQL Database if I use @ServletComponentScan Spring boot annotation"
## Bug Description

I'm making a Slack Bot with Spring Boot, this application will be connected to a MySql database in Gcloud. I'm deploying this application in **Cloud run**. I made the configuration as google suggest [here](https://cloud.google.com/sql/docs/mysql/connect-run#java_1) and I set up my env variables as google suggest [here](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socke

[2022-03-03 20:30] kurtisvg commented on #768
Hi @ManuelG28 -- unfortunately I'm not very familiar with SpringBoot, but it seems like this isn't so much a problem with the Cloud SQL Java connector as it is with your SpringBoot configuration.

My guess is that something with `@ServletComponentScan` is causing your code in the ContextServerListener to not get picked up. When I check out the [docs](https://docs.spring.io/spring-boot/docs/current

[2022-03-04 14:28] ManuelG28 commented on #768
Fixed, thank you for your reply @kurtisvg.

https://github.com/slackapi/java-slack-sdk/issues/947#issuecomment-1058620007

[2022-03-04 14:28] #768 closed

[2022-03-14 20:41] meltsufin opened #776 "Ability to recreate the coreSocketFactory in CoreSocketFactory"
Currently, `coreSocketFactory` is a singleton, and there is no way to recreate it after it has been created.

Needed here: https://github.com/GoogleCloudPlatform/spring-cloud-gcp/issues/982

[2022-03-14 21:39] kurtisvg commented on #776
The change needed for this will probably be somewhat involved as there are a bunch of assumptions in the current code that the CoreSocketFactory stays the same throughout.

[2022-03-14 22:46] meltsufin commented on #776
@kurtisvg Can you give an example of such an assumption? Thanks!

[2022-03-15 02:52] kurtisvg commented on #776
So looking at the code, it might not be as bad as I thought (I was originally thinking about replacing the Admin API client). I think the biggest problem is making sure the [executor is shutdown correctly](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/8a549cac72eae184703721e958d830404affc5fe/core/src/main/java/com/google/cloud/sql/core/CoreSocketFactory.java#L175) and t

[2022-03-28 14:49] jc25560 commented on #42
Hi @kurtisvg. A suggestion to reduce logging was suggested by @vadimberezniker but the source code for logging "Connecting to Cloud SQL instance" has remained unchanged. Is there any plan to reduce this logging or was this issue dropped?

[2022-03-28 15:19] kurtisvg commented on #42
@jc25560 It looks like I closed this issue for being stale back when the repo changed owners. You are welcome to open a new issue if you'd like to see this change happen.

My initial thought is that the logs can be useful in tracking connection management, and shouldn't be happening very frequently (typically apps are using 1-25 connections over a default 8 hour lifetime). IIRC, the socketfactory

[2022-04-01 12:49] jc25560 commented on #42
Thanks for that feedback!
Hikari connection pool has a default maximum connection lifetime of 30 minutes, which was why I was seeing this get logged more frequently than expected. Changing the Hikari config resolved this.

[2022-04-13 14:16] suztomo opened #806 "GraalVM native image test as CI"
## Feature Description

A test to confirm GraalVM native compilation in this repository in Kokoro.

## Alternatives Considered

GitHub Actions cannot use credentials.

## Additional Context

I'll make the test.

[2022-04-18 21:35] suztomo opened #818 "The top-level pom.xml should define dependencyManagement and subprojects should use it"
## Feature Description

The top-level pom.xml should declare dependencyManagement and the subprojects should use the versions defined there.

## Alternatives Considered

N/A

## Additional Context

Without a single place for dependencyManagement, I would have to write duplicate configuration for a dependency in many places. Example: https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-fact

[2022-04-18 21:46] kurtisvg commented on #818
I don't think we actually want to do this - many of the child artifacts have different dependencies and thus different dependency conflicts, which is why we refactored the dependency management sections into the child poms - so we could limit them to the ones needed for those child artifacts.

[2022-04-18 22:21] suztomo commented on #818
Declaring artifacts in the "dependencyManagement" section doesn't add new dependencies to a project. Only when a project declares new artifacts in the "dependencies" section, it adds new dependencies. The "dependencyManagement" section at the root pom.xml (the parent POM of subprojects) just helps to set consistent versions across different Maven projects.

During https://github.com/GoogleCloudPla

[2022-04-19 15:47] kurtisvg commented on #818
I don't think it's actually more clear, because rather than being in the project itself it's in the root project that's 2 folders away. This is maybe okay if you want/care about downstream dependencies to all be the same. But that's not really necessary for us here because the child artifacts are rarely used together.

So for example, let's say there becomes some conflict in the r2dbc/postgres art

[2022-04-19 17:24] suztomo commented on #818
I think now I get your idea. The "dependency conflicts" you mention seems to be the errors from the dependencyConvergence enforcer rule. Currently this repository uses dependencyManagement section to control (or suppress) the errors. On the other hand, I was referencing dependencyManagement section to bring consistent dependency versions across child projects.

# exclusions v.s. dependencyManageme

[2022-04-19 19:24] kurtisvg commented on #818
Hmm, I'll have to take a look. I believe these sections are largely for when we compile uberjars so that the dependencies added are a bit more deterministic.

[2022-04-19 19:32] suztomo commented on #818
Sure, take your time. If your dependencyManagement section is for uberjars (not for dependencyConvergence for library users) then the discussion of "exclusions v.s. dependencyManagement" doesn't apply.

[2022-04-19 21:08] suztomo commented on #806
# Failure at jdbc/mysql-j-5

[code]

The NPE was thrown at

[code]

This means `trigger` was null or `trigger.getClass()` returned null. Even if there isn't NPE, the code would fail with `UserError.abort`.

[code]

[2022-04-20 22:19] thomascjohnson opened #819 "Unable to Use IAM Authentication (PostgreSQL)"
## Bug Description

I'm trying to connect a Keycloak instance in a container to a Cloud SQL instance via the Cloud SQL proxy running on the host on 5432. Things work when I provide the username and password for an account on the database, but not when I try to use IAM authentication. Hopefully you can spot an error I'm making! :)

## Example code (or command)

### Cloud SQL Proxy on Host

[code]

[2022-04-21 10:05] thomascjohnson commented on #819
As a follow up, I was able to successfully use the built-in `postgres` DB type ([see here](https://www.keycloak.org/server/containers#_relevant_options)) with the service account as the name and an access token generated via

[code]

However, providing the same username and password via the Cloud SQL JDBC Socket Factory did not work. The error message is the same as above.

I've also tried using [

[2022-04-21 16:23] #819 closed

[2022-04-26 21:41] LonwoLonwo opened #823 "How to connect to PostgreSQL with automatic IAM database authentication on JAVA?"
Hello, everyone!

I try to connect to PostgreSQL with automatic IAM database authentication on my java application with help of this instruction: https://cloud.google.com/sql/docs/postgres/iam-logins#java-jdbc

I have a PostgreSQL instance on Google Cloud with cloudsql.iam_authentication flag.

The socket factory version is postgres-socket-factory-1.4.4
And PG driver is postgresql-42.2.25

So, I'v

[2022-04-27 03:08] shubha-rajan commented on #823
Hi @LonwoLonwo, you shouldn't have to generate your own token if you're using the `enableIamAuth` flag.  You do need to set a password so that the driver won't throw an error, which it looks like you did.  I'm unsure why this is failing. can you try running `gcloud auth print-access-token` and make sure that the token looks valid? Specific things to look for are the length of the token and if the

[2022-04-27 12:17] suztomo opened #824 "Enable GraalVM native image test for all the modules"
## Feature Description

As of now GraalVM configuration only works for "jdbc/postgres" module. Provide appropriate configurations for other modules ( jdbc/mysql-j-5 jdbc/mysql-j-8  jdbc/sqlserver r2dbc/sqlserver r2dbc/sqlserver r2dbc/mysql).

## Alternatives Considered

N/A

## Additional Context

[2022-04-27 17:12] shubha-rajan commented on #823
@LonwoLonwo I just noticed that your error message is saying that "password authentication failed for user `postgres`".  When using IAM Authentication, the value of `DB_USER` should be the email address of the IAM user. You'll need to make sure that the email address is added as an IAM user to the database first: https://cloud.google.com/sql/docs/postgres/add-manage-iam-users#creating-a-database-u

[2022-04-28 08:30] LonwoLonwo commented on #823
Thanks for the answers.
I've tried to use e-mail instead of login, but no luck.
How can I use `gcloud auth print-access-toke` in my java application?
I saw my token with the help of credentialsScoped.refreshAccessToken() and it was something like this:

`ya29.c.KqYBCwilziqqtCBnfGaHS7cVtZ9CcFs7w7HthIOZyOE1e9eyaVkgRa6vUaLgC05-t4v6RHNDG8oVlSzIsnx96fmU1AiigdYewNnjGb95K_wkHNC6YL0bOfCti8yG8Y-nmvgFgP_-eF

[2022-04-28 15:56] kurtisvg commented on #823
@LonwoLonwo It would help if you can provide more detail as to what it is you've tried and if it changed the outcome at all.

1. Y[ou need to make sure you add the IAM user to the database before you begin](https://cloud.google.com/sql/docs/postgres/add-manage-iam-users#creating-a-database-user)
2. You need to make sure you log in with the user equal to the email you are logging as - e.g. if your

[2022-04-30 02:40] shubha-rajan commented on #806
Reopening this since we still need to get GraalVM tests working for the other drivers.

[2022-04-30 03:28] suztomo commented on #806
I created https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/issues/824 for that.

[2022-05-02 13:50] LonwoLonwo commented on #823
@kurtisvg Thanks. I will look at it.

[2022-05-06 22:33] #806 closed

[2022-05-06 22:37] shubha-rajan opened #842 "Support v10 of the mssql-jdbc driver"
Currently the latest version of the SQL server JDBC driver is seemingly incompatible with the Java Connector. Investigate updating the connector/ connection code for compatibility.

[2022-05-07 00:06] #842 closed

[2022-05-07 00:07] shubha-rajan commented on #842
fixed by #844

[2022-05-11 18:08] LonwoLonwo commented on #823
Hello. I'm not sure. I think, that the problem in my IAM roles and settings. I can't connect with CLI also.

Hmm. Would you like to test this in our product? We will add this IAM auth setting in the nearest release and will be able to share access to the early version when it appears.

[2022-05-13 22:50] kurtisvg commented on #823
I'm going to mark as closed, since you weren't able to connect with the manual approach either.

If you try again, feel free to try and follow along with the docs and let us know if you run into any issues: https://cloud.google.com/sql/docs/postgres/authentication

[2022-05-13 22:50] #823 closed

[2022-05-20 02:24] Saisse opened #851 "1.6.0 has affected firebase-admin."
## Bug Description

Trying to connect to Firebase with postgres-socket-factory:1.6.0 included in the dependencies yields the error. This problem does not occur in 1.5.0

## Example code (or command)

[code]

[code]

## Stacktrace
[code]

## How to reproduce

  1. setup firebase and get  firebase-service-account.json
  2. execute example code with postgres-socket-factory:1.6.0

## Environment

1. O

[2022-05-20 15:14] kurtisvg commented on #851
It sounds like you probably have a dependency conflict between the dependencies of the two versions.

I'm not super familiar with `gradle`, but it looks like you can see a dependency tree with `gradle dependencies`.

[2022-05-20 16:46] shubha-rajan commented on #851
+1 to what Kurtis said, looks like a dependency conflict issue.
Since it looks like you're using sbt, you can see the dependency conflicts by adding the following to your `plugins.sbt` file: `addDependencyTreePlugin` (if you're using sbt 1.4+)
`addSbtPlugin("net.virtual-void" % "sbt-dependency-graph" % "0.10.0-RC1")` (older versions)
Then run `sbt dependencyBrowseTree` in the terminal and you'll g

[2022-05-22 08:39] Saisse commented on #851
Thanks for the reply.
I looked into the suspicious dependencies and found that the error I reported occurs when com.google.api:gax is version 2.0.0 or later, and also without adding postgres-socket-factory as a dependency.

I'll post the error-free configuration in case anyone else encounters the same problem.

[code]

[2022-05-22 08:39] #851 closed

[2022-05-31 13:12] raszkiewicz opened #863 "Use Cloud SQL Instance connection name with Hibernate EntityManagerFactory"
I'm trying to connect an old MVC Java web-app to the Cloud SQL using provided instance connection name following steps from https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/docs/jdbc-mysql.md using

[code]

Related part of the code looks like:

[code]

where

[code]

but that will fail to create `Persistence.createEntityManagerFactory("AppPU", properties);` as `Unable

[2022-05-31 14:46] kurtisvg commented on #863
Hi @raszkiewicz,

It's helpful if you can give us more complete information, like fully answering the questions in the [bug template](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/.github/ISSUE_TEMPLATE/bug-report.md).

Are you sure the project doesn't use Guava, even as a downstream dependency (it's included in this library)? You can use `mvn dependency:tree` to f

[2022-05-31 16:58] raszkiewicz commented on #863
OK, it looks like `Guava` is used by `com.google.cloud.sql:mysql-socket-factory:jar` so IMO it should be embed into that dependency

[2022-05-31 17:59] kurtisvg commented on #863
@raszkiewicz can you provide us with the full stack trace - not just the top error?

[2022-05-31 18:31] raszkiewicz commented on #863
OK, here is the app stack trace cause by the error mentioned above

[code]

[2022-05-31 19:28] raszkiewicz commented on #863
It is stacktrace from the app. I have debugged what causes it the `createEntityManager` and it was that error mentioned in the OP

[2022-06-01 16:18] kurtisvg commented on #863
Do you have the full stacktrace for that error? It seems like understandably, the `No EntityManagerFactory exists for datasource 'defaultDatasource'.` is being caused because `Persistence.createEntityManagerFactory("AppPU", properties);` fails. So fixing that issue should resolve the second error, but it's hard to know without more information.

Can you share a minimal reproduction of the error?

[2022-06-01 19:44] raszkiewicz commented on #863
Unfortunately the app doesn't produce stacktrace in the cataline.out for that error

[2022-06-03 22:27] kurtisvg commented on #863
Unfortunately without a good way to reproduce or get more information, we're probably not going to be make much progress. it seems likely this might be a problem with your environment/project, since we haven't had anyone else report any similar issues so far.

One gut suspicion I have is that you might have a dependency conflict - if you are using Maven, you could try to use a "[dependencyConverge

[2022-06-07 19:47] shubha-rajan opened #867 "Verify cert expiration before new connect attempt"

[2022-06-08 13:08] magiccrafter opened #871 "r2dbc core: Blocked main thread on createSslCustomizer"
## Bug Description

The current version of the library seems to block the main thread with the latest Netty & R2DBC driver/SPI.

Profiling results:
CPU Utilization:
<img width="1197" alt="profiler_cpu_load" src="https://user-images.githubusercontent.com/1208518/172622114-8801313c-ec15-4ec2-9088-b5ae2c5a68e9.png">
Between the 12th and 14th minutes, I've run a very light load test of 2 rps to troubl

[2022-06-09 18:25] kurtisvg commented on #871
Hi @magiccrafter -- thanks for taking the time to look at this issue. @shubha-rajan has started looking into it, but we have a team event we're currently participating in so we probably won't have any update until next week.

In the meantime, it would be great if you can provide more details steps on reproducing this issue - a small sample app and instructions on how to identify the block is happe

[2022-06-10 21:49] enocom opened #880 "Extend default Auto IAM Authn Refresh buffer to ~5min"
This is a Java version of https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/1153.

This issue will require testing to determine a reliable value (under 5min, but above 1min) to ensure we always get a refreshed token.

By extending the buffer, we make the Java connector more reliant to IAM-token related failures.

[2022-06-10 22:58] safarmer opened #881 "Brief summary of what bug or error was observed"
## Bug Description

It looks like the latest release is missing some dependencies. When I update my working Data Grip connection I get an error:

`Driver class 'com.google.common.base.Preconditions' not found.`

## How to reproduce

1. Follow the steps at https://www.jetbrains.com/help/datagrip/connect-to-google-cloud-sql-instances.html#configuring-connections-with-the-cloud-sql-connector-for-java

[2022-06-14 18:57] shubha-rajan commented on #881
Hi @safarmer, thanks for opening this issue! A couple of questions:
1. Are you using one of the pre-built jars from the releases page, or are you compiling your own jar?
2. Can you provide a full stack trace for the error?

[2022-06-14 21:40] safarmer commented on #881
Hi @shubha-rajan, this is with the JAR file downloaded from the releases page. The release artifacts for v1.5.0 also work fine.

[mysql-socket-factory-connector-j-8-1.6.1-jar-with-dependencies.jar](https://storage.googleapis.com/cloud-sql-java-connector/v1.6.1/mysql-socket-factory-connector-j-8-1.6.1-jar-with-dependencies.jar) - BROKEN
[mysql-socket-factory-connector-j-8-1.6.1-jar-with-driver-and-

[2022-06-14 22:15] safarmer commented on #881
Diffing the two JAR files, it looks like the build is missing more than just the MySQL Connector/J driver in the no-driver download. The diff  shows the `com.google.common`, `com.google.protobuf`, and `com.google.thirdparty` packages are missing from the JAR file with no driver.

I have not used Maven in years, but it looks like the core package is excluding a lot of packages, and the mysql-j-8 pa

[2022-06-15 20:30] tiny-dancer opened #883 ""Something unusual has occurred to cause the driver to fail. Please report this exception." with liquibase"
## Bug Description

"Something unusual has occurred to cause the driver to fail. Please report this exception." When attempting to use com.google.cloud.sql.postgres.SocketFactory with liquibase.

Installed with this JAR https://storage.googleapis.com/cloud-sql-java-connector/v1.6.1/postgres-socket-factory-1.6.1-jar-with-driver-and-dependencies.jar.

Confirmed

## Example code (or command)

[code]

[2022-06-15 21:51] shubha-rajan commented on #883
Hi @tiny-dancer, thanks for opening this issue! I'll take a look soon and keep you updated.

Does connecting work with previous releases? Like if you were to use the jar for v1.5.0, does it work?

[2022-06-15 22:11] tiny-dancer commented on #883
@shubha-rajan thanks for the quick response. I attempted with 1.5.0 and encountered the same error.  Also tried both with-dependences and with-driver-and-dependencies and same error.

[2022-06-15 22:16] tiny-dancer commented on #883
Note: it did work from local laptop. Have not been able to successfully do it from gcp vm though.

[2022-06-16 02:18] Darkells opened #884 "JDK8 Unable to create a SSLContext for the Cloud SQL instance."
Error when connecting to Cloud SQL using IAM authentication
environment: jdk 8 1.8.0_121
this version doesnot support TSLv1.3
What should I do without upgrading the jdk version.

[2022-06-16 06:47] Darkells commented on #884
ok  i fix it, add openjsse, mayby it provide tlsv1.3

[2022-06-16 06:47] #884 closed

[2022-06-20 12:27] Akaame opened #890 "Gradle Resolves jdbc-socket-factory-core:1.4.2 for 1.6.1"
## Question
[code]

resolves in the following dependency tree:

[code]

Which is quite curious. Strict version constraint seems to resolve the issue

[code]

[2022-06-21 20:20] shubha-rajan commented on #881
I'm going to decrease the priority of this to P1, since for now, reverting to a previous version fixes the issue.

[2022-06-21 21:16] enocom commented on #883
So I reproduced the problem on a VM that had only the "Default Access" scopes configured. When I updated the scopes to include "Cloud SQL", the error went away.

There are some more details here: https://cloud.google.com/compute/docs/access/service-accounts#accesscopesiam

Would you like to try updating the access scopes and trying again?

[2022-06-21 21:46] enocom commented on #890
I wasn't able to repdroduce this. Here's what I tried:

Here's my build.gradle:

[code]

Here's what I see when I run the same command:

[code]

Without access to your environment, it's hard to say what the problem might be. I'd suggest trying a minimal example like the one above to see if you get a different result.

[2022-06-21 21:51] enocom commented on #883
Feel free to re-open if that doesn't work.

[2022-06-21 21:54] enocom commented on #890
Feel free to re-open if there's something I've missed here.

[2022-06-23 22:59] tiny-dancer commented on #883
@enocom thanks for the response.  was unable to resolve the issue with the `cloud-platform` access scope which is visualized in the UI as `Allow full access to all Cloud APIs`.  Attempting to add the `sql-admin` scope in addition to `cloud-platform` did not cooperate in the automation we're using.

Consider this reopened (don't believe i can actually do that)

[2022-06-29 17:05] kurtisvg commented on #871
Thanks for the work here, and sorry we haven't gotten a chance to look at this issue sooner -- we're stretch a little thin between holidays and summer vacations.

This is a priority for us to try and address before the next release.

[2022-06-29 22:26] kurtisvg commented on #883
I think that there is some underlying issue preventing the connection from being created, but is is being buried in the Liquibase stack trace. Is it possible to get a more complete stack trace?

[2022-06-30 20:11] kurtisvg commented on #881
We think the problem is related to these exclusions: https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/core/pom.xml#L226-L266

[2022-07-01 18:37] hessjcg commented on #883
We need more information about the exact problem to try to resolve this issue. The exception provided is not detailed enough due to deficiencies in Liquibase's error handling.

The nested cause from Liquibase is here [JdbcConnection.java:91](https://github.com/liquibase/liquibase/blob/v4.11.0/liquibase-core/src/main/java/liquibase/database/jvm/JdbcConnection.java#L91), which eats the caused by exc

[2022-07-01 19:02] hessjcg commented on #881
I have confirmed that there is an java.lang.NoClassDefFoundError when trying to connect via socket factory 1.6.1, and that this does not occur when trying to connect with socket factory 1.6.0.

Now to try to figure out how to add these dependencies back.

[code]

[2022-07-12 16:00] kurtisvg commented on #871
@magiccrafter I'm having some trouble replicating this -- in our own sample, it seems like my profiler is saying it's happening in a background thread.

I'm unable to run your example -- no matter what I configure it just says "password must not be null"

[2022-07-12 17:31] kurtisvg commented on #871
I've been playing around with this for couple of hours and managed to modify the app enough to get it to connect (I think?).

But something is still going wrong -- if I call 'genN/100` I'm getting the following error:
[code]
I don't really understand what this means -- our sample app seems to be working fine, so I don't think it's my configuration or set up. I am getting connections in my database

[2022-07-12 19:09] magiccrafter commented on #871
I've switched to cloud sql auth proxy for gcp (as a sidecar) to use the latest Spring Boot version. Since then we don't observe any performance issues. imo the root cause is with the version mismatch of the `r2dbc-postgresql` library in your lib and the one coming with SB. I will keep an eye on the project and once you upgrade to `org.postgresql:r2dbc-postgresql:jar:0.9.1.RELEASE` I may give it an

[2022-07-12 19:11] kurtisvg commented on #871
@magiccrafter ah interesting - so you suspect it's a problem between `0.8.12.RELEASE` and `0.9.1.RELEASE`? I will take a look a second and see why we haven't updated

[2022-07-12 19:52] kurtisvg commented on #871
It looks like the problem was that the r2dbc driver moved group ids - I opened an issue on their repo (https://github.com/pgjdbc/r2dbc-postgresql/issues/530) and manually bump our version: https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/pull/909

[2022-07-13 18:25] kurtisvg commented on #871
@magiccrafter It seems like the version we released yesterday should have the newer r2dbc library. Can you check and see if you still have an issue or not?

[2022-07-13 19:22] suztomo commented on #824
I was thinking to implement it when I created this issue. But I'm afraid that I don't think I can work on this anytime soon. I hope this is not causing any problems in this library.

[2022-07-14 14:19] mpeddada1 commented on #824
@suztomo I can take this on. Will assign the issue to myself.

[2022-07-14 16:16] kurtisvg commented on #824
Thanks @mpeddada1

[2022-07-22 21:57] kurtisvg commented on #871
Just wanted to follow up here. Did the new release solve the problem?

[2022-07-23 17:53] magiccrafter commented on #871
I will check it after my holiday. In two/three weeks time.

[2022-07-23 19:29] kurtisvg commented on #871
Thanks for the update! I'll close this out if I don't hear back in ~30 days or so

[2022-08-04 17:41] enocom opened #938 "Prefer TLS 1.3 when possible"
When possible, we should prefer TLS 1.3, or at least verify that the connector already has this behavior.

[2022-08-05 16:45] #938 closed

[2022-08-16 04:10] Nikku-jsr opened #952 "Library is not compatible with java-9 and above (module-info.java)"
From java 9, java introduced modular dependencies logic. As per the logic governs, any backward library(which don't have module-info.java support) where name considered as the package name to use with `requires` in module-info.java. But `com.google.cloud.sql:mysql-socket-factory-connector-j-8:1.6.3` contains `8` in name that make your library incompatible with java 9 and above module. Please find

[2022-08-16 20:00] kurtisvg commented on #952
Hi @Nikku-jsr -- we do have tests that run Java 11 and Java 17, so it would surprise me to learn that the statement "Library is not compatible with java-9 and above" is true. Can you provide more details on how you are using this library with intellij?

We have a template [here](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/.github/ISSUE_TEMPLATE/bug-report.md) tha

[2022-08-16 21:57] shubha-rajan commented on #952
Hi @Nikku-jsr, I just opened #953 to add `Automatic-Module-Name` to our manifests. Can you try pulling the branch, building the jar, and adding it to your required modules to test if it works?

[2022-08-17 07:53] Nikku-jsr commented on #952
I feel your solution would work. Just add the version check, I left comment on pr for the same. Otherwise seems good to me.

[2022-08-17 08:07] Nikku-jsr commented on #952
I also tested with the maven-jar-plugin version `3.2.2` and its working fine to me. Thanks for the quick response.

[2022-08-17 08:10] Nikku-jsr commented on #952
Generated MANIFEST.MF
[code]

[2022-08-17 17:56] #952 closed

[2022-08-17 19:58] shubha-rajan opened #954 "Validate email address format when using IAM authentication"
**Postgres**: Remove  `.gserviceaccount.com` domain suffix if it exists.
**MySQL**: Remove everything after and including the `@` sign. (`test-user@gmail.com` -> `test-user`)

Should already have `databaseVersion` from the API request to https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/connect/get

[2022-08-19 22:28] #871 closed

[2022-08-27 05:53] anmol1vw13 opened #964 "Intermittent SocketException when connecting to Cloud SQL Postgres via a spring boot app."
Hi Folks,
I have a spring boot app which uses the postgres flavor of google cloud sql as the database. At times what I've observed it I get the following error `java.net.SocketException: Broken pipe`
Here's the trace.
[code]
Versions being used:
[code]
I want to understand the reason behind this and how it can be mitigated. Looking forward a possible solution on the thread :)

[2022-08-29 12:08] kurtisvg commented on #964
Hi @anmol1vw13,

`java.net.ScoketException: Broken Pipe` errors are [generally transient network errors](https://stackoverflow.com/a/2309844/9414803) - they happen when attempting to write to a connection that has already been closed.

Some suggestions for dealing with them:
1. Make sure update your dependencies regularly- `2020.0.3` is a pretty old version, there might be improvements in new vers

[2022-08-29 12:08] #964 closed

[2022-08-30 19:27] llermaly opened #965 "Logstash implementation"
## Question

I need to query CloudSQL from Logstash but can find any example out there.

## Additional Context

I ran the build command for postgres jdbc driver

`mvn -P jar-with-dependencies clean package -DskipTests`

And provided it as Logstash JDBC driver (tried with dependencies jar too):

[code]

I'm having this error:

I'm missing something?

Thank you

[2022-08-31 04:45] llermaly commented on #965
Solved it:

https://stackoverflow.com/questions/73547585/cloudsql-jdbc-logstash-implementation/73550954#73550954

Thank you

[2022-08-31 04:45] #965 closed

[2022-08-31 14:51] enocom commented on #965
Thanks for the update @llermaly.

[2022-08-31 15:14] llermaly commented on #965
my pleasure

[2022-09-09 20:29] shubha-rajan opened #979 "Rate limits lead to flaky tests after moving to Github Actions"
Note: This error only seems to occur with Postgres IAM tests.
Error message:

[code]

[2022-09-12 16:59] shubha-rajan commented on #883
Closing this issue since it has been inactive for a few months. Please reopen if you have any further questions.

[2022-09-12 16:59] #883 closed

[2022-09-13 21:41] shubha-rajan opened #983 "Specify quota project for SQLAdmin Client"
Add ability to specify quota project for Java Connector Cloud SQL Admin API calls.

Context: https://github.com/GoogleCloudPlatform/cloud-sql-go-connector/pull/237

[2022-09-14 17:15] enocom opened #984 "Throw exception on invalid Auto IAM AuthN Config"
If a database engine doesn't support Auto IAM AuthN (i.e., MySQL, SQL Server), the connector should throw an error if a user has requested the feature.

Related: https://github.com/GoogleCloudPlatform/cloud-sql-go-connector/issues/283.

[2022-09-16 21:31] elefeint opened #990 "Support MariaDB R2DBC driver"
Right now, only the MySQL driver is supported in socket factory. Unfortunately, the driver is no longer maintained, and Spring recommendation is [to use the MariaDB driver](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.7-Release-Notes#r2dbc-driver-changes). They should be protocol-compatible.

This will require adding a new `ConnectionFactoryProvider` similar to the existing `G

[2022-09-19 16:51] elefeint commented on #990
@JoeWang1127 Could you take a look at implementing the MariaDB R2DBC support in this repo? @mpeddada1 implemented the original MySQL/CloudSQL autoconfiguration in Spring Cloud GCP that's based on the R2DBC connection factories in this repo.

[2022-09-19 18:00] JoeWang1127 commented on #990
Sure, will do

[2022-09-21 17:36] johanblumenberg opened #992 "Add a "lazy strategy" option that prevents refreshes from happening in the background"
## Bug Description

Every now and then we see a failure to refresh the ephemeral certificate used to connect to Cloud SQL.
Most of the time this is just an annoying error in the log, but the service tries again and succeeds most of the time. This is still annoying, since it adds a lot of noise to our monitoring.
But every now and then also the retry is failing, and we lose traffic because we don't

[2022-09-21 17:38] johanblumenberg commented on #992
We have been in contact with the google support, but after 3 months of trying to explain the problem, the only sensible response that we have gotten so far is that it might be related to the fact that Cloud Run uses CPU throttling and does not support background tasks. Since the refresh is done periodically as a background task, this might be an issue.

This is the support ticket: https://console.

[2022-09-21 17:46] johanblumenberg commented on #992
We have created a patch to remove the background process, and this seems to solve the problem. We have used the same patch both in our Cloud Run services and in our Cloud Functions, and so far it seems to work. We have not seen any failures in our logs since we applied the patch.

We have been running with this patch for 8 days now, with zero errors. Before applying the patch we could see failures

[2022-09-21 18:30] kurtisvg commented on #992
So to be clear, it doesn't look like you've removed the background process, but have just made it force a new refresh before an error has occurred rather than after. It's still probably happening in the background, but now it'll fail silently.

Maybe an ideal solution would be to offer some option to specify a retry strategy, and add a "lazy" option that retries as needed rather than automatically

[2022-09-27 14:40] elefeint commented on #990
This is blocked on adding the SSL tunneling capability into the MariaDB driver.

[2022-09-27 21:16] enocom opened #996 "Downscope OAuth2 token included in ephemeral certificate"
The token included in the ephemeral cert should have just a `https://www.googleapis.com/auth/sqlservice.login` scope attached to it.

[2022-09-30 15:55] luisospina-sealed opened #998 "IllegalAccessError when trying to build Java 17 Native image"
While trying to build a simple Micronaut app with a connection to a SQL (postgres) db an **IllegalAccessError** is being thrown.
Here's the stack trace

	at com.google.cloud.sql.nativeimage.CloudSqlFeature.beforeAnalysis(CloudSqlFeature.java:57)
	at org.graalvm.nativeimage.builder/com.oracle.svm.hosted.NativeImageGenerator.lambda$runPointsToAnalysis$9(NativeImageGenerator.java:722)
	at org.graalvm

[2022-09-30 16:49] shubha-rajan commented on #998
Hi @luisospina-sealed, thanks for opening this issue! We will investigate further and get back to you soon.

[2022-10-07 15:33] e-vrvr opened #1006 "Why is the connection port always hardcoded to 3307?"
Hi Team,

why is the port always hardcoded to 3307 [here](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/main/core/src/main/java/com/google/cloud/sql/core/CoreSocketFactory.java#L149)? Does this mean the library should always work together with SQL Auth Proxy? (as 3307 is the default port for proxy)
Apologies if this is silly question, but it was not clear to me from the

[2022-10-07 15:58] kurtisvg commented on #1006
This library (the Cloud SQL Java connector) works like a java-native version of the Cloud SQL Auth proxy. It connects to a server side proxy on the Cloud SQL instance, which listens on 3307. See the [About the Cloud SQL Auth proxy page](https://cloud.google.com/sql/docs/mysql/sql-proxy#how-works) for details.

[2022-10-07 15:58] #1006 closed

[2022-10-11 16:26] kurtisvg commented on #998
Downgrading to p2 based on some initial investigation by Shubha, this seems specifically limited to J17 w/ Graal.

[2022-10-14 11:13] javamachr commented on #998
Exactly the same happens to me with v1.7.0.

[2022-10-18 23:03] kurtisvg commented on #992
Posting some rational here for why we consider this a P2 for now:

1. We believe it's a fairly rare occurrence: it occurs when the process is throttled after the refresh has already started but before it is allowed to complete. If the process is throttled before the refresh has started, it's unlikely to have enough CPU to be begin until the process is unthrottled.
2. It's a fairly invasive change:

[2022-10-27 16:22] kurtisvg commented on #824
@mpeddada1 any updates on this?

[2022-11-01 17:54] shubha-rajan opened #1027 "Support GraalVM 22.3.0"

[2022-11-02 19:48] #996 closed

[2022-11-04 20:16] mpeddada1 opened #1032 "Integration tests for Cloud Sql connection via unix domain socket"
Before we can relocate [these](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/88a02eabe6c3b248e12bb485ac5785ad612086d4/docs/jdbc-mysql.md#connection-via-unix-sockets)  native image configurations to the repo, we will need some tests that can be rn against native image compilation to verify compatibility.

cc/ @suztomo, @shubha-rajan

[2022-11-07 20:38] jackwotherspoon opened #1036 "Configure Flaky Bot on Java Connector"
Configure the use of [Flaky Bot](https://github.com/apps/flaky-bot) to monitor test builds and create issue on failures in continuous and periodic builds.

See [#477](https://github.com/GoogleCloudPlatform/cloud-sql-python-connector/pull/447) for Python Connector implementation.

Note: Flaky Bot input needs to be in JUnit XML format which may require a potential conversion step to be added in Gith

[2022-11-17 20:50] #998 closed

[2022-11-18 18:04] enocom commented on #641
Closing this for now as there are no plans to address this.

[2022-11-18 18:04] #641 closed

[2022-11-18 18:29] enocom commented on #660
Closing this as stale. If there's still an interest in this feature, feel free to re-open with more context.

[2022-11-18 18:29] #660 closed

[2022-11-21 21:44] enocom commented on #863
Going to close this as stale. Feel free to re-open with any additional information.

[2022-11-21 22:38] enocom commented on #979
This might be a case of just needing to bump our testing project's API quota. cc @jackwotherspoon who's done this ona  few repos now.

[2022-11-29 20:46] llermaly opened #1060 "Work in tandem with another google api library"
## Question

We have 2 Logstash instances, one that has [gcp_pubsub input plugin](https://github.com/logstash-plugins/logstash-input-google_pubsub), and another one that uses this socked-factory

Both instances work separately, but when I try to use both things in one instance it fails.

This is the error:

[code]

## Additional Context

I just discovered that the socket factory include some exclu

[2022-11-29 21:13] llermaly commented on #1060
I just deleted the exclusions and saw this error:

[code]

Then disabled the enforcer and now it works. I'm not a Java expert so I'm not sure on how safe is to do this.

[2022-11-30 18:59] shubha-rajan commented on #1060
Thanks for opening this issue!

Generally, we don't recommend disabling the enforcer as this could lead to errors from missing classes etc. Instead, you'll probably want to use the `dependencyManagement` section of the `pom.xml` file to set the desired version for each of the dependency conflicts.

We'll look into removing the exclusions and using dependency management instead, since errors when u